:root {
    --nav-bg-color: #0284C7;
    --nav-font-color: #F0F9FF;
    --main-bg-color: #DBEAFE;
    --main-font-color: #0C4A6E;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#content {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.nav-bar {
    height: 100%;
    width: 20%;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 0px 5px #101010;
    z-index: 1;
    background-color: var(--nav-bg-color);
    color: var(--nav-font-color);
    transition: 1s;
    position: relative;
}

.nav-bar * {
    margin-left: 3%;
    font-size: 1.5rem;
}

.nav-bar p:hover {
    text-decoration: underline;
}

.nav-bar > span {
    position: absolute;
    font-size: 3rem;
    top: 0;
    right: 20px;
    opacity: 0.7;
}

.nav-bar > h1 {
    font-size: 3rem;
}

.main-container {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}

.main-container > span {
    font-size: 1.5rem;
    opacity: 0.7;
}

.all-todo-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: var(--nav-bg-color);
    color: var(--nav-font-color)
}

.todo-container {
    display: flex;
}

.complete {
    flex: 1;
}

.priority {
    flex: 1;
}

.todo-title {
    flex: 6;
}

.due {
    flex: 1.5;
}

.opacity-bg {
    height: 100%;
    width: 0;
    background-color: #101010;
    opacity: 0.5;
    z-index: 2;
    position: fixed;
    right: 0;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    right: 0;
    background-color: var(--nav-bg-color);
    color: var(--nav-font-color);
    transition: 1s;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 3;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    box-shadow: 0px 0px 5px #101010;
}

.side-menu * {
    margin: 4%;
}

.side-menu > input, textarea, select {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    border-bottom: solid 1px var(--nav-font-color);
    color: var(--nav-font-color);
    opacity: 0.5;
}

.side-menu > input:focus, textarea:focus, select:focus {
    opacity: 1;
    border: none;
    box-shadow: none;
    outline: none;
    border-bottom: solid 1px var(--nav-font-color);
}

.side-menu > textarea {
    border-radius: 5px;
    border: solid 1px var(--nav-font-color);
    padding: 5px;
}

.side-menu > label {
    margin-bottom: 0;
}

#date, #priority {
    margin-top: 0;
}

.side-menu > textarea {
    resize: none;
}

.button-div {
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.button-div > button {
    background-color: var(--nav-font-color);
    color: var(--nav-bg-color);
    border: none;
    font-size: 1rem;
    padding: 3%;
    box-shadow: 0px 0px 5px #101010;
    transition: background-color 0.5s;
    min-height: fit-content;
    min-width: fit-content;
    width: 200px;
    height: 40px;
    vertical-align: baseline;
}

.button-div > button:hover {
    background-color: #0C4A6E;
    color: var(--nav-font-color);
}